@tailwind base;
@layer base {
    html {
        @apply font-sans antialiased;
    }
}
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    @apply m-0 min-h-screen bg-gray-100 p-0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    /* body {
        color: white;
        background: black;
    } */
}
